header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #e6e3e6;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
/* background: rgb(252,255,244); Old browsers
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); FF3.6-15
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); Chrome10-25,Safari5.1-6
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); IE6-9 */
	
	padding: 5px 5%;
	margin-bottom: 30px;
}

.header-right, .header-left {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
	width: 200px;
}

.header-center{
	margin: 0 auto;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 0 20px;
}

nav li a {
	display: inline-block;
	padding: 0 20px;
}

a {
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: red;
}

/* .header-right {
	padding: 10px 25px;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
	transition: 0.3s;
}

.header-right:hover {
	border: 2px;
	background-color: #ff3434;
} */

.formButMenu {
	display: inline-block;
}

.formButLang {
	display: inline-block;
}

/* 
Style button Menu */

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}